<% if signed_in? %>
  <h4>How much love?</h4>
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <div class="row form-group">
      <%= f.label :body, "Comment" %><br>
      <%= f.text_area :body, class:"form-control", rows:"5", type:"text", placeholder:"Tell us what you think?" %>
    </div>
    <div class="row form-group">
      <%= f.label :rating %><br>
      <%= f.text_field :rating, class:"rating form-control" %>
    </div>  
    <div class="row form-group">
      <%= f.submit "Submit", class:"btn btn-default" %>
    </div>
  <% end %>
<% end %>