<div class="col-sm-2 col-md-4 prodtile">
  <h3><%= product.name %></h3>
  <div>
   <%= image_tag( product.image_url, width:"400", class:"img-responsive img-zoom", data_zoom_image: product.image_url ) %>
 </div>
  <h4><strong>€</strong><%= product.price %></h4>
  <h4><%= product.colour %></h4>
  <p><%= product.description %></p>
  <div aria-label="..." class="btn-group-sm" role="group">
    <%= link_to 'Show', product, class:"btn prodbut btn-default" %>
    <%= link_to 'Edit', edit_product_path(product), class:"btn prodbut btn-default" %> 
    <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn prodbut btn-default" %>
  </div>
</div>