<p id="notice"><%= notice %></p>
<section class="container-fluid">
  <div class="row">
    <h1>Products</h1>
      <% @products.each do |product| %>
        <div class="col-md-4">
          <h3><%= product.name %></h3>
          <%= image_tag(product.image_url, class: "img-responsive center-block") %>
          <p><%= product.description %></p>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><%= link_to 'Show', product %></button>
            <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(product) %></button>
            <button type="button" class="btn btn-default"><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
        </div>  
      <% end %>
    </div>
    <div class="row">
      <%= link_to 'New Product', new_product_path %> 
    </div>
</section>
