<p id="notice"><%= notice %></p>

<div class="card">
  <%= image_tag(@product.image_url, class:"card-img-top") %>
  <div class="card-block">
    <h4 class="card-title"><%= @product.name %></h4>
    <p class="card-text"><%= @product.description %></p>
    <p class="card-text"><small class="text-muted"><strong>Colour:</strong><%= @product.colour %></small></p>
    <p class="card-text"><small class="text-muted"><strong>Rim Size:</strong><%= @product.rimsize %></small></p>
    <p class="card-text"><small class="text-muted"><strong>Price:</strong>
  <strong>€</strong><%= @product.price %></small></p>
  </div>
</div>  

<%= render 'new_comment' %>
<%= render 'comments' %>

<%= link_to 'Back', products_path, class:"btn btn-default" %> |
<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default"%>