<div class="row">
  <strong>Image:</strong>
  <%= image_tag(@product.image_url, class:"img-responsive showpic center-block") %>
</div>
<div class="row">
  <strong>Name:</strong>
  <%= @product.name %>
</div>

<div class="row">
  <strong>Colour:</strong>
  <%= @product.colour %>
</div>

<div class="row">
  <strong>Price:</strong>
  <strong>€</strong><%= @product.price %>
</div>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Back', products_path, class:"btn btn-default" %> |
<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default"%> 
<p id="notice"><%= notice %></p>