<!DOCTYPE html>
<html>
<head>
  <title>Bike Shop</title><%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"><%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Bike Shop", root_path , class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <!-- Sign up Log in -->

        <div class="navbar-form navbar-right">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class:"btn btn-default" ) %>
            <%= link_to('Edit User', edit_user_registration_path, :method => :get, class:"btn btn-default" ) %> 
          <% else %>
            <%= link_to('Login', new_user_session_path, :method => :get, class:"btn btn-default" ) %>
            <%= link_to('Register', new_user_registration_path, :method => :get, class:"btn btn-default" ) %>  
          <% end %>
        </div>



        <!-- Search Box -->
        <%= form_tag("/products", method: "get", class:"navbar-form navbar-right") do %> 
          <div class="form-group">
            <%= label_tag(:q, "Search for:", class:"hidden") %>
            <%= text_field_tag(:q, "", type:"text", class:"form-control", placeholder:"Search") %>
          </div>
        <%= submit_tag("Search", class:"btn btn-default") %>
        <% end %>


        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "Bikes", products_path %></li>
          <li class="active"><%= link_to "About", static_pages_about_path %></li>
          <li class="active"><%= link_to "Contact", static_pages_contact_path %></li>
          <li class="active"><a href="https://www.pinterest.de/search/pins/?q=bike%20fixie%20porn&rs=typed&term_meta[]=bike%7Ctyped&term_meta[]=fixie%7Ctyped&term_meta[]=porn%7Ctyped">Bike Porn</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  
  
  <section class="container-fluid minpage">

    <!-- Flash Notice Tags -->
    <% if notice %>
      <div id="notice" class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div id="alert" class="alert alert-warning"><%= alert %></div>
    <% end %>

    <%= yield %>
  </section>
  
  <footer class="footer">
    <div class="container">
      <a href="http://ontyhtung.com" title="Created by Ontyhtung" data-placement="top" data-toggle="tooltip" data-animation="true" class="linktooltip"><p class="text-muted">&copy; Ontyhtung Bike Shop 2017</p></a>
    </div>
  </footer><!-- footer -->

</body>

</html>